.cnv-holder {
  width: auto;
  display: block;
}
.letter-holder{
  width: auto;
}

.letter-holder > img{
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
}

video { 
  display: none;
}

img{
  display: none;
}

a{
  text-align: center;
  display: block;
  font-size: 2em;
  color: white;
}

a:hover{
  color: red;
}